{{!ovirt_engine_host}}
{{!ovirt_engine_host.id}}
{{!selectedOvirtEngine}}
{{!selectedOvirtEngine.name}}
{{!discovered_hosts.length}}
{{!discovered_hosts}}

{{#unless isHideWizard}}
  <br />
  <br />
  <h1 class='deployment_name'>New {{nameRHCI}} Deployment: <strong>{{name}}</strong></h1>
  {{#unless isNew}}
    &nbsp;
    {{#link-to 'deployment.start' this}}
        Edit Production Selections <i class="fa fa-pencil"></i>
    {{/link-to}}
  {{/unless}}
  <br />
  <br />

  {{!partial 'debug-deployment'}}

  {{rhci-wizard nameSatellite=nameSatellite
                nameOvirt=nameOvirt
                nameOpenStack=nameOpenStack
                nameCloudForms=nameCloudForms
                stepNumberOvirt=stepNumberOvirt
                stepNumberOpenstack=stepNumberOpenstack
                stepNumberCloudForms=stepNumberCloudForms
                stepNumberSubscriptions=stepNumberSubscriptions
                stepNumberReview=stepNumberReview
                isDisabledOvirt=isDisabledOvirt
                isDisabledOpenstack=isDisabledOpenstack
                isDisabledCloudForms=isDisabledCloudForms
                isDisabledSubscriptions=isDisabledSubscriptions
                isDisabledReview=isDisabledReview
                isOvirt=isOvirt
                isOpenStack=isOpenStack
                isCloudForms=isCloudForms
                isSubscriptions=isSubscriptions
                }}
{{/unless}}

{{outlet}}
