<div class='row'>
  <div class='col-md-12'>
    <br />
    <form class="form form-horizontal">

      {{#base-f label="Storage Type"}}

        {{#radio-button value="NFS" groupValue=ovirt_storage_type id='nfs'}}
          NFS
        {{/radio-button}}
        &nbsp;&nbsp;&nbsp;&nbsp;
        {{#radio-button value="Local" groupValue=ovirt_storage_type id='local'}}
          Local
        {{/radio-button}}
        &nbsp;&nbsp;&nbsp;&nbsp;
        {{#radio-button value="Gluster" groupValue=ovirt_storage_type id='gluster'}}
          Gluster
        {{/radio-button}}
      {{/base-f}}

      {{text-f label="Storage Address" value=ovirt_storage_address placeholder='Leave blank for default' cssId='ovirt_storage_address'}}
      {{text-f label="Share Path" value=ovirt_share_path placeholder='Leave blank for default' cssId='ovirt_share_path'}}

    </form>
  </div>
</div>

    <div class='pull-right'>
      <br />
      {{#link-to 'deployments' class='btn btn-default'}}Cancel{{/link-to}}
      {{#link-to step3RouteName class='btn btn-primary'}}Next{{/link-to}}
    </div>
